// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

/**自写CSS  */
a{
	cursor:pointer;
}
.logo{
	font-size:1.7rem;
	color:#fff;
	&:hover{
		color:#ccc;
		text-decoration: none;
	}
}
.row{
	margin:0px;
}
.home-content{
	padding:120px 0px;
	background:url('/images/login.jpg') no-repeat;
	.info{
		font-size:1.5rem;
	}
	.login{
		background-color:#fff;
		padding:40px;
		div{
			margin:20px 0px;
		}
	}
}
.register{
	border:1px solid #ccc;
	padding:20px;
	margin:60px 0px;
}
.ul-error{
	margin-bottom:0px;
}
.session-msg{
	margin-top:10px;
}
.user{
	margin-top:30px;
}
.user-info{
	font-size:1.4rem;
	margin-left:10px;
}


